body {
    background-image: url("https://i.pinimg.com/564x/4f/4b/b0/4f4bb0ed24ba7e1efa9e66dbfcf93a38.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
  }


.height-content-bot{
  height: 400px;
  background-color: rgba(49, 48, 48, 0.532);
}

.height-footer{
  height: 250px;
  background-color: rgba(255, 255, 255, 0);
  margin-top: 100px;

}


@media (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 1023px) {}

@media (min-width: 1024px) {}

  